<!DOCTYPE html>
<html>
<head>
  <title>Placero</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
	 <% if !current_user.nil? %>
      Signed in as: <%= current_user.email %>
      <%= button_to 'Sign out', signout_path, method: :destroy %>
    <% else %>
	<%= link_to "Home", "/auth/facebook", id: "sign_in" %>
    <% end %>
</body>
</html>
